@use "../../_variables.scss" as *;
@use "../../_functions.scss" as *;

:host {
  position: sticky;
  top: 0;
  z-index: 98;
  width: 100%;
}

.header {
  position: relative;
  width: 100%;
  max-width: $wrapper-width;
  height: $header-height;

  margin: 0 auto $margin-huge auto;
  background: $clr-bg;

  @include flex(space-between, center);

  .header__logo,
  .header__button {
    height: 45px;
  }

  .header__button {
    @include flex(null, center);
    gap: $margin-small;

    font-size: $font-size-header;
    font-weight: $font-weight-header;

    .icon__circle {
      transition: transform 300ms ease-out;
    }

    &:hover .icon__circle {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 520px) {
  .icon__description {
    display: none;
  }

  .header {
    margin-bottom: $margin-medium;
  }
}

.headerCopy {
  position: absolute;
  width: 200%;
  height: 100%;
  left: -50%;
  z-index: -1;

  transition: box-shadow 400ms ease-out;
}

.shadow {
  box-shadow: $box-shadow-header;
  -webkit-box-shadow: $box-shadow-header;
  -moz-box-shadow: $box-shadow-header;
}

