<aside class="slider" [ngClass]="{'closed' : closed$ | async}">
  <nav class="slider__nav" aria-label="Close form">
    <button
      (click)="closeForm()"
    ><img src="../assets/cross-icon.svg" alt="Close form button"></button>
  </nav>
  <h2>Dodawanie produktu</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <div class="form__group">
      <p class="input__info">
        <label class="input__label" for="product-name">Nazwa produktu</label>
        <span class="input__message">Pole wymagane</span>
      </p>
      <input
        type="text"
        id="product-name"
        formControlName="name"
        aria-required="true"
        maxlength="50"
      >
      <app-error *ngIf="getNameInputError() as message" [message]="message"></app-error>
    </div>
    <div class="form__group">
      <p class="input__info">
        <label class="input__label" for="product-price">Cena produktu</label>
        <span class="input__message">Pole wymagane</span>
      </p>
      <input
        type="number"
        id="product-price"
        formControlName="price"
        aria-required="true"
      >
      <app-error *ngIf="getPriceInputError() as message" [message]="message"></app-error>
    </div>
    <div class="form__group">
      <p class="input__info">
        <label class="input__label" for="product-image-url">Adres URL obrazka</label>
        <span class="input__message">Pole wymagane</span>
      </p>
      <div class="input_image_box">
        <input
          type="url"
          id="product-image-url"
          formControlName="imageURL"
          aria-required="true"
        >
        <label class="image_label"
               tabindex="3"
               aria-hidden="true"
               for="image"
        ><img src="../../assets/image-fill.svg" alt="Image icon"></label>
        <input aria-hidden="true" hidden="hidden"
           id="image"
           type="file"
           (change)="onFileSelected($event)"
           accept="image/png, image/jpeg"
           formControlName="imageFile"
        >
      </div>
      <app-error *ngIf="getUrlInputError() as message" [message]="message"></app-error>
    </div>
    <button
      type="submit"
      [disabled]="!form.valid"
    >Dodaj produkt</button>
  </form>
</aside>
