<aside class="slider" [ngClass]="{'closed' : closed$ | async}">
  <nav class="slider__nav" aria-label="Close form">
    <button
      (click)="closeForm()"
    ><img src="../assets/cross-icon.svg" alt="Close form button"></button>
  </nav>
  <h2>Dodawanie produktu</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <div class="form__group">
      <p class="input__info">
        <label class="input__label" for="product-name">Nazwa produktu</label>
        <span [ngClass]="getClassesWithError('name')">Pole wymagane</span>
      </p>
      <input
        type="text"
        id="product-name"
        formControlName="name"
      >
    </div>
    <div class="form__group">
      <p class="input__info">
        <label class="input__label" for="product-price">Cena produktu</label>
        <span [ngClass]="getClassesWithError('price')">Pole wymagane</span>
      </p>
      <input
        type="number"
        id="product-price"
        formControlName="price"
      >
    </div>
    <div class="form__group">
      <p class="input__info">
        <label class="input__label" for="product-image-url">Adres URL obrazka</label>
        <span [ngClass]="getClassesWithError('imageURL')">Pole wymagane</span>
      </p>
      <input
        type="url"
        id="product-image-url"
        formControlName="imageURL"
      >
    </div>
    <button
      type="submit"
      [disabled]="!form.valid"
    >Dodaj produkt</button>
  </form>
</aside>
