@use "../../_variables.scss" as *;
@use "../../_functions.scss" as *;
@use "../../_mixins.scss" as *;

.slider {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;

  overflow-y: scroll;

  max-width: 85%;
  width: $form-width;
  height: 100%;
  padding: $padding-slider-M;

  font-family: $font-family-primary;
  background-color: $clr-bg;
  box-shadow: $box-shadow-slider;

  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1.0);

  &.closed {
    transform: translateX(100%);
    opacity: 0.4;
    box-shadow: none;
  }
}

.slider__nav {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;

  @include flex(right, null);

  margin-bottom: $margin-big;

  button {
    transition: transform 300ms ease-out;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

form {
  .form__group {
    margin-bottom: $margin-medium;

    .input__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: $margin-petit;

      .input__label {
        letter-spacing: -2%;
      }

      .input__message {
        color: $clr-input-message;
        font-size: $font-size-input-message;

        &.error {
          color: $clr-input-box-error;
        }
      }
    }

    .input_image_box {
      position: relative;
    }

    .image_label {
      position: absolute;
      top: 1rem;
      right: 1rem;

      padding: 0.2rem;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      width: 100%;
      height: $form-input-height;
      padding: $margin-petit $margin-small;

      border-color: $clr-input-box-border;

      font-size: $font-size-input-label;

      &.ng-invalid.ng-touched.ng-dirty {
        border-color: $clr-input-box-error;
      }
    }
  }

  button {
    @include defaultBtn;
  }
}

@media (max-width: 520px) {
  .slider {
    padding: $padding-slider-S;
    max-width: 95%;
  }
}
