@use "../../_variables.scss" as *;
@use "../../_functions.scss" as *;
@use "../../_mixins.scss" as *;

:host {
  height: 100%;
}

.wrapper {
  width: 100%;
  max-width: $wrapper-width;
  margin: 0 auto;
  padding-bottom: 100px;

  font-family: $font-family-primary;
}
