@use "../_variables.scss" as *;
@use "../_functions.scss" as *;
@use "../_mixins.scss" as *;

:host {
  display: block;
  padding: $padding-app-M;
}

@media (max-width: 520px) {
  :host {
    padding: $padding-app-S;
  }
}
