<div class="wrapper">
  <app-header (openSidebar)="openSidebar()"></app-header>
  <div class="grid">
    <aside class="left">
      <div class="img-container">
        <img class="main-image" src="../assets/main-picture.png" alt="Zdjęcie pokazujące produkty Apple">
        <div class="decorator"></div>
      </div>
    </aside>
    <main class="right">
      <h1 class="intro__header">Zadanie rekrutacyjne na staż w Jamf</h1>
      <section class="intro">
        <p class="intro__text">Poniżej wyświetlana jest lista produktów. Twoim zadaniem jest stworzenie mechanizmu, który będzie dodawał nowy produkt do listy. Powodzenia!</p>
        <button (click)="openSidebar()" class="intro__button">Dodaj nowy produkt</button>
      </section>
      <section *ngIf="!isMobileLayout" class="products" >
        <h2>Urządzenia Apple</h2>
        <app-product-list
          *ngIf="products$ | async as products"
          [products]="products">
        </app-product-list>
      </section>
    </main>
  </div>
  <section *ngIf="isMobileLayout" class="products" >
    <h2>Urządzenia Apple</h2>
    <app-product-list
      *ngIf="products$ | async as products"
      [products]="products">
    </app-product-list>
  </section>
</div>
<app-sidebar-form></app-sidebar-form>
