@use "../_variables.scss" as *;
@use "../_functions.scss" as *;

:host {
  display: block;
  padding: 0 50px;

  @media (max-width: 520px) {
    padding: 0 5%;
  }
}

.wrapper {
  width: 100%;
  max-width: $wrapper-width;
  margin: 0 auto;
  font-family: $font-family-primary;
}

.grid {
  display: grid;
  grid-template-columns: 580px auto;
  gap: $margin-small;
}

.left {

}

.img-container {
  position: relative;
  width: $decoration-width;
  top: -45px;
}

.decorator {
  content: '';
  width: 100%;
  height: 120%;
  position: absolute;
  z-index: -1;
  background-color: $clr-decoration;
  top: 50%;
  left: 580px - $decoration-width;
  transform: translateY(-50%);
}

.intro__header {
  width: 90%;
  font-family: $font-family-secondary;
  font-size: $font-size-headline;
  font-weight: $font-weight-headline;
  line-height: 112.5%;
  margin-bottom: $margin-big-med;
}

.intro {
  position: relative;
  padding: $margin-medium 0;
  margin-bottom: $margin-big-med;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -2.5rem - $margin-small;
    background-color: $clr-bg;
    z-index: -1;
  }
}

.intro__text {
  position: relative;
  font-size: $font-size-paragraph;
  line-height: 155.5%;
  font-weight: $font-weight-paragraph;
  margin-bottom: $margin-medium;
  width: 80%;
}

.intro__button {
  width: $button-width;
  height: $button-height;
  background: $clr-secondary;
  font-weight: $font-weight-bold;
  font-size: $font-size-button;
  letter-spacing: -2%;
  transition: filter 50ms ease-out;

  &:hover {
    filter: brightness(1.1);
  }
}

.products {
  margin-bottom: 999px;
}

h2 {
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-subheader;
  margin-bottom: $margin-medium;
  line-height: 87.5%;
}

@media (max-width: 1200px){
  .intro__header, .intro__text {
    width: 100%;
  }

  .intro__header {
    margin-bottom: $margin-medium;
  }
}

@media (max-width: 1070px) {
  .grid {
    grid-template-columns: 400px auto;
  }
  .img-container {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .left {
    order: 2;
  }

  .decorator {
    display: none;
  }
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: auto;
  }

  .img-container {
    display: none;
  }
}

