@use "../../_variables.scss" as *;
@use "../../_functions.scss" as *;

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, $card-width));
  gap: $items-horizontal-gap;

  @media (max-width: 1070px) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
