// Colors
    $clr-primary: #000000;
    $clr-secondary: #C4C4C4;
    $clr-bg: #FFFFFF;
    $clr-bg-decoration: #E1E5EA;
    $clr-input-message: #A5A5A5;
    $clr-input-box-border: #888888;
    $clr-input-box-error: #CC0000;

// Font family
    $font-family-primary: 'Open Sans', sans-serif;
    $font-family-secondary: 'Antonio', sans-serif;

// Font size
    // Main page
    $font-size-header: 1.25rem;
    $font-size-headline: 4rem;
    $font-size-subheader: 2rem;
    $font-size-paragraph: 1.125rem;
    $font-size-button: 1.125rem;

    // Product
    $font-size-product-name: 1.25rem;
    $font-size-product-price: 1.25rem;

    // Product form
    $font-size-form-header: $font-size-subheader;
    $font-size-input-label: 1rem;
    $font-size-input-message: 0.875rem;

// Font weight
    $font-weight-regular: 400;
    $font-weight-bold: 700;

    $font-weight-paragraph:     $font-weight-regular;
    $font-weight-headline:      $font-weight-bold;
    $font-weight-header:        $font-weight-bold;
    $font-weight-product-title: $font-weight-regular;
    $font-weight-product-price: $font-weight-bold;

// Component size

    $wrapper-width: 1200px;

    $header-height: 130px;

    $form-width: 630px;
    $form-input-height: 56px;

    //$headline-image-width: 478px;
    //$headline-image-height: 758px;

    $card-height: 392px;
    $card-width: 280px;
    $item-image-width: 280px;
    $item-image-height: 280px;

    $decoration-width: 480px;
    $img-offset: -26px;
    //$decoration-height: 920px;

    $button-width: 220px;
    $button-height: 56px;


// Margin
    $margin-huge: 7.625rem;
    //$margin-huge: 8.75rem;
    //$margin-big: 6rem;
    $margin-big: 4.6875rem;
    $margin-medium: 3.375rem;
    $margin-small: 1.25rem;
    $margin-petit: 0.5rem;

    //$items-vertical-gap: 2.125rem;
    $items-horizontal-gap: 1.3125rem;
    $main-grid-gap: 1.5625rem;

// Padding
    $padding-slider-M: 150px 4.25rem;
    $padding-slider-S: 150px 2.25rem;
    $padding-app-M   : 0 50px;
    $padding-app-S   : 0 20px;


// Shadow
    $box-shadow-slider: -10px 0 10px 0 rgba(0, 0, 0, 0.1);
    $box-shadow-header: 0 -3px 10px 0  rgba(0, 0, 0, 0.35);
